*{
    margin: 0;
    pafding:0;
}

body{
    background: #323a46;
    font-family:Arial;
}

.container-fluid bg-dark{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}